.exercise-detail{
    margin: 10px;
    padding-left: 8px;
    padding-right: 8px;
}

.time-total{
    background-color: #f2f4fa;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 8px;
    padding-right: 8px;
}

