.exercise-info{
    width: 280px;
    height: 460px;
    background-color: white;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-between;
}
.exercise-info img{
    width: 260px;
    height: 130px;
    margin: 10px;
    border-radius: 10px;
}
.information{
    margin: 10px;
}
.btn-cart{
    color: white;
    background-color: #5d5fef;
    border: none;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
}
.btn-cart:hover{
    background-color: green;
}